*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;

}
.container{
    padding:20px;
}

.box{
    margin: 20px 0;
}

.box p{
    font-size: 2rem;
}

@media(max-width:768px) {
    .header-page{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media(max-width:500px){
    
}