.container {
    width: 100%;
    min-height: 400px;
    /* border-width: 1px;
    border-style:solid;  */
    border:1px solid;
}

.box{
    width: 50%;
    min-height: 150px;
    border: 1px solid #369;
    margin: 20px;
    padding: 10px;
    box-sizing:border-box;
}