.container{
    width: 100%;
    min-height: 450px;
    border-radius: 5px;   
    border: 1px solid #e63946;
}

.box{
    width: 50%;
    min-height: 150px;
    border: 1px solid #1d3557;
    /* margin: 20px 50px 70px 100px;  */
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
}
