.Primeira_Pagina{
    text-align: center;
    display: block;
    margin:auto;
    font-size: 25px;
}
h1{
    text-align: center;
}
.Segunda_Pagina{
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 20px;
    font-size: 25px;
}
.link{
    text-decoration: none;
    border: 1px black;
    border-style: dashed;
    border-radius: 5px;
    padding: 10px;
    font-family: Calibri;
}
body{
    font-family: Calibri;
}