/* Reset css */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* Crianco variaveis */
:root {
    --bg-dark: #000;
    --branco: white;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: white;

}

.container {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-image-1 {
    background-image:linear-gradient(rgba(39, 164, 223, 0.8), rgba(0,0,0,0.5)),
    url(../img/imag-fundo.jpg);
}

.bg-image-2 {
    background-image: url(../img/img2.jpg);
}

.bg-image-3 {
    background-image: url(../img/img3.jpg);
}

.bg-color-1 {
    background-color: var(--bg-dark);
}

/* formatação header */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10;
    position: fixed;
    top: 0;
    left: 0;
}

.header-title {
    color: var(--branco);
    font-size: 40px;
}

.logo{
    color: red;
}

.menu ul {
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-title{
    color:var(--branco);
    font-size: 35px;
    margin-bottom: 30px;
}

.hero-text{
    color: var(--branco);
    width: 60%;
    margin-bottom: 50px;
}

.btn{
    border: 1px solid red;
    padding: 10px 20px;
    color: white;
    background-color: red;
    border-radius: 70px;
}

.btn:hover{
    background-color: transparent;
    color: red;
}

.tech{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tech-item{
    width: 30%;
    height: 500px;
    border: 1px solid red;
}